{% use 'form_div_layout.html.twig' %}

{% block form_label %}
	{% set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block text-gray-800')) ~ (errors|length > 0 ? '' ~ ' text-red-700 ') }) %}
	<{{element|default('label')}} {% if label_attr %} {% with { attr: label_attr } %} {{ block('attributes') }} {% endwith %} {% endif %}>
		{{ block('form_label_content') }}
		{% if required %}
			<span class="inline-flex bg-red-500 w-1 h-1 rounded-full"></span>
		{% endif %}
	</{{element|default('label')}}>
{% endblock %}

{% block form_row %}
	{% set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('flex flex-col mb-6 last:mb-0')) }) %}
	<div {% with {attr: row_attr} %} {{ block('attributes') }} {% endwith %}>
		{{ form_label(form) }}
		{{ form_widget(form) }}
		{{ form_errors(form) }}
		{{ form_help(form) }}
	</div>
{% endblock form_row %}

{% block widget_attributes %}
	{% set attr = attr|merge({ class: attr.class|default('bg-gray-50 text-sm text-gray-800 focus:font-medium placeholder:text-gray-400 rounded-md border border-gray-200 px-4 py-2') ~ (errors|length > 0 ? '' ~ ' border-red-700 ') })   %}

	{{ parent() }}
{% endblock %}

{% block checkbox_label %}
	{% set label_attr = label_attr|merge({ class: label_attr.class|default(label_class|default('block text-gray-800')) }) %}
	{{ block('form_label') }}
{% endblock %}

{% block form_errors %}
	{% if errors is not empty %}
		<ul class="text-xs text-red-600 w-full px-3 rounded list-disc">
			{% for error in errors %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block checkbox_widget %}
	{% set widget_class = widget_class|default('mr-2 rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50') %}
	{{ parent() }}
{% endblock checkbox_widget %}

{% block radio_widget %}
	{% set widget_class = widget_class|default('mr-2') %}
	{{ parent() }}
{% endblock radio_widget %}
