{% extends 'main/base.html.twig' %}

{% block title %}
	همکاری با آریاکیش
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center ">
		<div class="flex justify-start mt-7 container">
			<ul class="text-xs text-gray-400 flex gap-2">
				<li>
					<a>وبلاگ /</a>
				</li>
				<li>
					<a>اموزشی /</a>
				</li>
				<li>
					<a>لورم اپسیوم /</a>
				</li>
			</ul>
		</div>
		<section class="container h-full flex flex-col gap-3 pt-5">

			<div class="mb-16 flex flex-col items-center pt-10">
				<h2 class="text-gray-800 text-base md:text-3xl font-bold mb-2">
					فرم درخواست کار
				</h2>
				<h6 class="text-gray-500 text-center text-2xl md:text-base">
					در این صفحه میتوانید اطلاعات ارتباطی شرکت آریاکیش را مشاهده کنید.
				</h6>
			</div>
			{{ form_start(form, {'class': 'flex flex-co'}) }}
			<div class="bg-white border">
				<h1 class="font-bold text-center bg-gray-200 p-2 mb-4">
					مشخصات فردی
				</h1>
				<div class="p-5">
					<div class="grid grid-cols-1 md:grid-cols-5 gap-3">
						{{ form_row(form.fullname) }}
						{{ form_row(form.fatherName) }}
						{{ form_row(form.birthDate) }}
						{{ form_row(form.birthCertificateNumber) }}
						{{ form_row(form.nationalCode) }}
					</div>
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
						{{ form_row(form.address) }}
						{{ form_row(form.phoneNumber) }}
						{{ form_row(form.tel) }}
					</div>
					<i class="w-full h-px bg-gray-200 mb-3"></i>
					<div class="flex gap-3">
						<div class="flex flex-col mb-6 last:mb-0 w-[32.7%]">
							<div class="flex py-2.5">
								{{ form_row(form.maritalStatus) }}
							</div>
						</div>
						<div class="flex flex-col mb-6 last:mb-0 w-[32.7%]">
							<div class="flex py-2.5">
								{{ form_row(form.residentialStatus) }}
							</div>
						</div>
					</div>
					<div class="flex gap-3">
						<div class="flex flex-col mb-6 last:mb-0 w-[32.7%]">
							<div class="flex py-2.5">
								{{ form_row(form.gender) }}
							</div>
						</div>
						<div class="flex flex-col mb-6 last:mb-0 w-[32.7%]">
							<div class="flex py-2.5">
								{{ form_row(form.militaryStatus) }}
							</div>
						</div>
					</div>
					<i class="w-full h-px bg-gray-200 mb-3"></i>
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
						{{ form_row(form.degree) }}
						{{ form_row(form.degreeDate) }}
						{{ form_row(form.field) }}
					</div>
					{{ form_row(form.degreeSummary) }}
				</div>
			</div>
			<div class="bg-white border">
				<h3 class="text-center bg-gray-200 p-2 font-bold mb-4">
					تعیین بازه یا محدوده حقوقی
				</h3>
				<div class="p-5">
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
						{{ form_row(form.jobTitle) }}
						{{ form_row(form.salaryExpectation) }}
						{{ form_row(form.startDateAvailability) }}
					</div>
					<i class="w-full h-px bg-gray-200 mb-3"></i>
					{{ form_row(form.motivationForWorking) }}
					<i class="w-full h-px bg-gray-200 mb-3"></i>
					{{ form_row(form.guarantee) }}
				</div>
			</div>
			<div class="bg-white border">
				<h3 class="text-center bg-gray-200 p-2 font-bold mb-4">
					درصد موارد ذیل شما از ۱۰۰٪ چقدر است؟
				</h3>
				<div class="p-5">
					<div class="grid grid-cols-1 2xl:grid-cols-4 md:grid-cols-3 lg:grid-cols-7 gap-3">
						{{ form_row(form.iqScore) }}
						{{ form_row(form.memoryScore) }}
						{{ form_row(form.responsibilityScore) }}
						{{ form_row(form.followUpScore) }}
						{{ form_row(form.disciplinInWorkScore) }}
						{{ form_row(form.workEthicScore) }}
						{{ form_row(form.customerRespectScore) }}
					</div>
					<i class="w-full h-px bg-gray-200 mb-3"></i>
					{{ form_row(form.language) }}
				</div>
			</div>
			<div class="bg-white border">
				<h3 class="text-center bg-gray-200 p-2 font-bold mb-4">
					سوابق شغلی
				</h3>
				<div class="p-5">
					{{ form_row(form.insuranceNumber) }}
					<i class="w-full h-px bg-gray-200 mb-3"></i>
					{{ form_row(form.employmentHistory) }}
				</div>
				<div class="p-5">
					{% for row in form.workExperience %}
						{{ form_row(row) }}
					{% endfor %}
				</div>
			</div>

			<div>
				<button type="submit" class="mt-6 bg-blue-700  h-12 px-12 flex self-end justify-center items-center text-white border border-blue-700 rounded font-medium transition duration-200 hover:text-blue-700 hover:bg-white">
					ارسال رزومه
				</button>
			</div>
			{{ form_end(form) }}
		</section>
	</div>
{% endblock %}
