{% extends 'dashboard/base.html.twig' %}

{% block title %}
	{{ parent() }}
	پیام های تماس با ما
{% endblock %}

{% block body %}
	<div class="flex justify-between py-4 items-center">
		<div class="font-bold text-[27px] flex flex-col gap-1">
			<p class="text-slate-700">
				پیام های تماس با ما
			</p>
			<p class="text-base text-gray-400 font-semibold">
				شما در مجموع 1261 پیام دارید.
			</p>
		</div>
		<div class="flex gap-5 ">
			<button class="px-4 py-1.5 justify-between hover:border-slate-500 hover:bg-slate-500 hover:text-white transition-all duration-300 items-center flex gap-3 border text-slate-600 rounded">
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="20" height="20" fill="none" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18 5h3M3 5h11m-4 7h11M3 12h3m12 7h3M3 19h11m3.414-15.414a2 2 0 1 1-2.828 2.828 2 2 0 0 1 2.828-2.828m-8 7a2 2 0 1 1-2.828 2.828 2 2 0 0 1 2.828-2.828m8 7a2 2 0 1 1-2.828 2.828 2 2 0 0 1 2.828-2.828"></path>
				</svg>

				<p class="font-bold text-xs">فیلتر بر اساس
				</p>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="20" height="20" fill="none" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"></path>
				</svg>

			</button>
		</div>
	</div>
	<div class="w-full grid space-y-3">
		{% if contacts is not empty  %}
			{% for contact in contacts %}
				<div class="bg-white rounded border flex flex-col justify-center py-7 px-5">
					<div class="flex justify-between w-full">
						<div class="flex w-full items-center gap-1">
							<div class="w-12 h-12 bg-blue-600 rounded flex justify-center items-center text-white">
								#{{ contact.id }}
							</div>
							<div class="flex flex-col gap-1">
								<p class="text-base font-bold text-slate-600">
									{{ contact.fullname }}
								</p>
								<p class="text-gray-400 text-xs font-semibold">
									<span class="text-gray-700 after:content-[':'] after:px-2">شماره تماس</span>
									{{ contact.phoneNumber }}
								</p>
							</div>
						</div>

						<div class="w-full flex justify-end">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
								<path stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.503 12a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M12.5 12a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-6.002 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"></path>
							</svg>
						</div>
					</div>
					<div class="text-slate-500 font-semibold mt-4 text-right">
						{{ contact.message }}
					</div>
					<div class="flex mt-5 w-full justify-between">
						<div class="flex justify-center items-center gap-2">
							<div class="w-2 h-2 bg-green-400 rounded-full"></div>
							<p class="text-green-400">
								تایید شده
							</p>
						</div>
						<div class="flex justify-center items-center text-[11px] font-semibold gap-1 text-yellow-500 bg-yellow-100 px-2 rounded">
							<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="17" height="17" fill="none" viewbox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.52 8.999a8.996 8.996 0 1 1 2.113 9.368"></path>
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.999 15.001 12 12V6.998M6.998 8.999H2.996V4.997"></path>
							</svg>
							<div>
								{{ contact.createdAt|date('d-m-Y') }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class='bg-sky-100 rounded-lg px-3 py-4'>
				<p class='text-sky-800 text-center font-bold'>
					اطلاعاتی یافت نشد
				</p>
			</div>
		{% endif %}
	</div>
	<div class="py-5">
		<div class="px-7 flex justify-between">
			<div class="bg-white border flex text-sm font-semibold w-fit rounded">
				<div class="p-2 text-slate-500 font-semibold border-l flex justify-center items-center">
					قبلی
				</div>
				<div class="p-2 text-slate-500 font-semibold border-l px-5 flex justify-center items-center">
					1
				</div>
				<div class="p-2 text-slate-500 font-semibold border-l px-5 flex justify-center items-center">
					2
				</div>
				<div class="p-2 text-slate-500 border-l flex justify-center items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="24" height="24" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.503 12a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M12.5 12a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-6.002 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"></path>
					</svg>
				</div>
				<div class="p-2 text-slate-500 font-semibold border-l px-5 flex justify-center items-center">
					6
				</div>
				<div class="p-2 text-slate-500 font-semibold border-l px-5 flex justify-center items-center">
					7
				</div>
				<div class="p-2 text-slate-500 font-semibold flex justify-center items-center">
					بعدی
				</div>
			</div>

		</div>
	</div>
{% endblock %}
